<header>
   <div class="container">
     <span class="logo">LOGO</span>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/word">Add Word</a></li>
                <li><a href="/challenge">Challenge</a></li>
            </ul>
        </nav>
   </div>
</header>